<div class="d-flex flex-column p-3 text-white bg-dark" style="width: 280px">
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
  >
    <svg class="bi me-2" width="40" height="32">
      <use href=""></use>
    </svg>
    <span class="fs-5">Detayli Secenekler</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link active"> Tum Araclar </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white"> Markalar </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white"> Renkler </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white"> Kiralamalar </a>
    </li>
  </ul>
  <hr />
</div>
